{% extends "layout/Layout.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

{% load crispy_forms_tags %}

{% block content %}

{% if error_message %}
    <p>{{ error_message }}</p>
{% endif %}



<div class="container">
<div class="col-sm-8 col-sm-offset-2">
{% ifequal propage.user request.user %} 
<h1>Update your profile</h1>
</head>
<body>
 
    <form action = "" method="POST">
        {% csrf_token %}

        {{ form|crispy }}

        <button type="submit">Update Profile</button>

        {% if form.errors %}
        <p> Please submit valid values for your post.</p>
        {% endif %}
    </form>


{% else %}
</head>
<body>
    <h3>You can only update your own propage</h3>
{% endifequal %}
</body>
</div>
</div>



{% endblock %}