{% extends "layout/Layout.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

{% load crispy_forms_tags %}

{% block content %}

{% if error_message %}
    <p>{{ error_message }}</p>
{% endif %}


{% ifequal post.user request.user %}
<div class="container">
<div class="col-sm-8 col-sm-offset-2">
<h1>Update your post</h1>
</head>
<body>
   
    <form action = "" method="POST">
        {% csrf_token %}

        {{ form|crispy }}

        <button type="submit">Update Post</button>

        {% if form.errors %}
        <p> Please submit valid values for your post.</p>
        {% endif %}
    </form>

</body>
</div>
</div>
{% else %}
<div class="container">
    <div class="col-sm-8 col-sm-offset-2">
        <body>
            <h2>
                You can only update your own posts
            </h2>
        </body>
    </div>
</div>
{% endifequal %}


</html>
{% endblock %}