{% extends 'layout/Layout.html' %}
<!DOCTYPE html>
<html lang="en">
<head>

{% load crispy_forms_tags %}
{% block content %}

<div class="container">
<div class="col-sm-8 col-sm-offset-2">
<u><h1>Sign In</h1></u>
</head>
{% if user.is_authenticated %}
<body>
<h3> You are already signed in! you can go to your propage <a href='/accounts/profile'>here</a>.</h3> 
</body>
{% else %}
<body>
<p>If you have not created an account yet, then please
<a href="/accounts/register">sign up</a> first.</p>
<br>

    <form method="POST" action="{% url 'login' %}">
  {% csrf_token %}
  {{ form|crispy }}

 <!-- <a class="button secondaryAction" href="">Forgot Password?</a> -->
  <button class="primaryAction" type="submit" value="login">Sign In</button>
</form>
</body>
{% endif %}
</div>
</div>
</html>
{% endblock %}